.modal-body {
  max-height: 500px;
  overflow-y: auto;
}

.modal.show {
  background: rgba(0, 0, 0, 0.5);
}

.table-primary {
  background-color: #0d6efd !important;
  color: white;
}

.table-hover tbody tr:hover {
  background-color: #f1f3f5;
  cursor: pointer;
}

table td,
table th {
  vertical-align: middle;
}

.product-table-container {
  max-height: 350px;
  overflow-y: auto;
}

thead th {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
}

.modal-lg {
  top: 65px;
}

@media (max-width: 768px) {
  .modal-body {
    max-height: 70vh;
    padding: 10px;
  }

  .product-table-container {
    max-height: 60vh;
    overflow-x: auto;
  }
}
